<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE_JSON">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
                <includeException>true</includeException>
                <includeExceptionInMessage>false</includeExceptionInMessage>
                <projectId>${projectId}</projectId>
            </layout>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %green([%level]) %yellow([%thread])
                    [%cyan(%logger{5}).%green(%M\(%F:%L\))]
                    %cyan(traceId)=%green(%X{traceId:-?}) %m%n
                </pattern>
            </layout>
        </encoder>
    </appender>
    <if condition='isDefined("KUBERNETES_SERVICE_PORT")'>
        <else>
            <logger additivity="false" level="INFO" name="org.springframework">
                <appender-ref ref="STDOUT"/>
            </logger>
            <logger additivity="false" level="INFO" name="com.pdp">
                <appender-ref ref="STDOUT"/>
            </logger>
            <logger additivity="false" level="INFO" name="reactor">
                <appender-ref ref="STDOUT"/>
            </logger>
            <logger additivity="false" level="INFO" name="io.netty">
                <appender-ref ref="STDOUT"/>
            </logger>
            <logger level="ERROR" name="io.netty.util"/>
            <root additivity="false" level="ERROR">
                <appender-ref ref="STDOUT"/>
            </root>
        </else>
        <then>
            <logger additivity="false" level="INFO" name="org.springframework">
                <appender-ref ref="CONSOLE_JSON"/>
            </logger>
            <logger additivity="false" level="INFO" name="com.pdp">
                <appender-ref ref="CONSOLE_JSON"/>
            </logger>
            <logger additivity="false" level="INFO" name="reactor">
                <appender-ref ref="CONSOLE_JSON"/>
            </logger>
            <logger additivity="false" level="INFO" name="io.netty">
                <appender-ref ref="CONSOLE_JSON"/>
            </logger>
            <logger level="ERROR" name="io.netty.util"/>
            <root additivity="false" level="ERROR">
                <appender-ref ref="CONSOLE_JSON"/>
            </root>
        </then>
    </if>
    <property name="projectId" value="${projectId:-${GOOGLE_CLOUD_PROJECT}}"/>
</configuration>